/*
 * CCS3 Animations
 *
 * Credits: http://cssanimate.com
 * Credits: http://animista.net
 */
.fade-in {
    animation: fade-in ease-in-out 0.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: fade-in ease-in-out 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
}

@keyframes fade-in{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


.bounce-in {
    animation: bounce-in ease-in-out 0.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: bounce-in ease-in-out 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
}

@keyframes bounce-in{
    0% {
        transform: scaleX(0.20) scaleY(0.20);
    }
    56% {
        transform: scaleX(1.00) scaleY(1.00);
    }
    56% {
        transform: scaleX(1.00) scaleY(1.00);
    }
    75% {
        transform: scaleX(0.80) scaleY(0.80);
    }
    99% {
        transform: scaleX(1.00) scaleY(1.00);
    }
    100% {
        transform: scaleX(1.00) scaleY(1.00);
    }
}

@-webkit-keyframes bounce-in {
    0% {
        -webkit-transform: scaleX(0.20) scaleY(0.20);
    }
    56% {
        -webkit-transform: scaleX(1.00) scaleY(1.00);
    }
    56% {
        -webkit-transform: scaleX(1.00) scaleY(1.00);
    }
    75% {
        -webkit-transform: scaleX(0.80) scaleY(0.80);
    }
    99% {
        -webkit-transform: scaleX(1.00) scaleY(1.00);
    }
    100% {
        -webkit-transform: scaleX(1.00) scaleY(1.00);
    }
}


.flip-in{
    animation: flip-in ease-in-out 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards;
    -webkit-animation: flip-in ease-in-out 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards;
}

@keyframes flip-in{
    0% {
        transform: scaleX(-0.10);
    }
    34% {
        transform: scaleX(1.00);
    }
    64% {
        transform: scaleX(0.17);
    }
    100% {
        transform: scaleX(1.00);
    }
}

@-webkit-keyframes flip-in {
    0% {
        -webkit-transform: scaleX(-0.10);
    }
    34% {
        -webkit-transform: scaleX(1.00);
    }
    64% {
        -webkit-transform: scaleX(0.17);
    }
    100% {
        -webkit-transform: scaleX(1.00);
    }
}

.flip-out{
    animation: flip-out ease-in-out 0.3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards;
    -webkit-animation: flip-out ease-in-out 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards;
}

@keyframes flip-out{
    0% {
        transform: scaleX(1.00);
    }
    100% {
        transform: scaleX(-0.02);
    }
}

@-webkit-keyframes flip-out {
    0% {
        -webkit-transform: scaleX(1.00);
    }
    100% {
        -webkit-transform: scaleX(-0.02);
    }
}

.inf-shake{
    animation: inf-shake ease-in-out 0.3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards;
    -webkit-animation: inf-shake ease-in-out 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards;
}

@keyframes inf-shake{
    0% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes inf-shake {
    0% {
        -webkit-transform: rotate(4deg);
    }
    50% {
        -webkit-transform: rotate(-6deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes stretch-up{
    0% {
        transform: scaleY(1.00);
    }
    100% {
        transform: scaleY(1.25);
    }
}

@-webkit-keyframes stretch-up {
    0% {
        -webkit-transform: scaleY(1.00);
    }
    100% {
        -webkit-transform: scaleY(1.25);
    }
}

.stretch-down{
    animation: stretch-down ease-in-out 0.1s;
    animation-iteration-count: 1;
    transform-origin: 50% 100%;
    animation-fill-mode:forwards;
    -webkit-animation: stretch-down ease-in-out 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation-fill-mode:forwards;
}

@keyframes stretch-down{
    0% {
        transform: scaleY(1.25);
    }
    100% {
        transform: scaleY(1.00);
    }
}

@-webkit-keyframes stretch-down {
    0% {
        -webkit-transform: scaleY(1.25);
    }
    100% {
        -webkit-transform: scaleY(1.00);
    }
}

.float-anim {
    -webkit-animation: float-anim 1.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
    animation: float-anim 1.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
}

@-webkit-keyframes float-anim {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}
@keyframes float-anim {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.rotate360-inf {
    -webkit-animation: rotate360-inf 1.2s linear infinite both;
    animation: rotate360-inf 1.2s linear infinite both;
}

@-webkit-keyframes rotate360-inf {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate360-inf {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate ;
    animation: slide-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate ;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

.flip-vertical-left {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
@keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

.flip-vertical-right {
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}
@keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

