/*!
 * Cloud Clover Editor
 * Copyright (C) kylon - 2016-2022
 * Licensed under GPLv3 license
 */
@import "font-awesome.min.css";
@import "animations.css";

* { /* fix infinite loops in plugins */
    will-change: auto !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

a {
    text-decoration: none!important;
}

textarea {
    word-break: break-all;
}

input[type=checkbox] {
    margin-top: 0 !important;
}

input[type=text]:disabled {
    cursor: not-allowed;
}

select:disabled {
    cursor: not-allowed!important;
}

.patch-table tr td {
    padding: 0;
}

.no-round-upleft {
    border-radius: .25rem 0 .25rem .25rem !important;
}

.truncate-80 {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-100 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-inTb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-large {
    font-size: large;
}

.font-xlarge {
    font-size: x-large;
}

.c-pointer {
    cursor: pointer;
}

.no-flexwrap {
    flex-wrap: initial;
}

.maint-footer {
    left: 0 !important;
}

.main-logo {
    width: 25rem !important;
}

/*
 * Loading screen
 */
#loadingscr {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#loadingscr > .spinner-border {
    position: relative;
    top: calc(50%);
    width: 6rem;
    height: 6rem;
}

/*
 * CCE Nav
 */
.cce-tab {
    display: none;
    padding-bottom: 50px;
}

/*
 * PS SCROLLBAR CUSTOM
 */
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail {
    width: 4px !important;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x, .ps-container > .ps-scrollbar-x-rail {
    height: 4px !important;
}

.ps__rail-y {
    width: 0;
}

.ps__rail-x {
    height: 0;
}

.ps__thumb-y, .ps__thumb-x {
    border-radius: unset;
}

/*
 * COMMON RULES
 */
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.alert {
    margin-bottom: 3px !important;
    padding: 5px !important;
    font-size: 15px !important;
    width: 150px;
    text-align: center;
}

.alert i {
    font-size: 1.3em;
}

.toast-container {
    z-index: 602;
}

.single-item-add {
    height:22px;
    margin-right: 1px;
}

.single-items-panel {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.single-items-panel .modal {
    white-space: initial;
}

.single-item-group {
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}

.single-item-icon i {
    font-size: 4.6rem;
    padding: 1.2rem;
    cursor: pointer;
    position: relative;
    top: 8px;
}

.single-item-title {
    height: 1.6rem;
}

.single-item-del-btn {
    font-size: 1.5em;
    position: absolute;
    bottom: 22px;
    right: -6px;
    cursor: pointer!important;
}

.single-item-del-btn i {
    padding: 6px;
}

.single-item-cp-btn {
    font-size: 1.4em;
    position: absolute;
    bottom: 22px;
    left: -8px;
    border: 0 none;
    cursor: pointer!important;
}

.single-item-cp-btn i {
    padding: 8px;
}

/*
 * COMBOBOX
 */
.combobox {
    position: relative;
    width: 100%;
}

.combobox-input {
    width: 100%;
    padding: .5rem .75rem;
    position:relative;
}

.combobox-input:focus {
    outline: 0;
}

.combobox-arrow {
    position:absolute;
    padding: 1rem;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.combobox-opt-container {
    width: 100%;
    position: absolute;
    max-height: 89px;
    overflow: auto;
    z-index: 600;
    text-align: left;
}

.combobox-hide {
    display: none;
}

.combobox-opt {
    font-size:13px;
    overflow:hidden;
    white-space:nowrap;
    padding: 1px 1px 1px 4px;
}

.combobox-input-group {
    border-radius: 5px 0 0 5px!important;
}

.combobox-arrow-open {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.bank-config-box {
    text-align: center;
}

.bank-config-icon {
    font-size: 4rem;
    width: 100%;
    -webkit-animation: rotate-vert-center 0.5s ease-in-out both;
    animation: rotate-vert-center 0.5s ease-in-out both;
}

.bank-config-icon:hover {
    cursor: pointer;
    -webkit-animation: rotate-vert-center 1.2s linear infinite both;
    animation: rotate-vert-center 1.2s linear infinite both;
}

.cce-bank-loadtx {
    text-align: center;
    width: 100%;
    font-size: large;
}

/*
 * COMBOSELECT
 */
.seltx-select {
    width: auto !important;
    min-width: initial !important;
    float: left;
}

.seltx-textarea {
    border-radius: 0 .25rem .25rem .25rem !important;
}

.seltx-input {
    border-radius: .25rem 0 0 .25rem !important;
}

/*
 * SIDEBAR
 */
.btn-opt:focus, .btn-up-alert:focus {
    box-shadow: unset;
}

.sidebar-nav {
    width: 100% !important;
}

.sidebar-wrap-textmode {
    background: #343a40 url(../img/cce-logo-alt.svg) center/15rem no-repeat !important;
}

/*
 * COMMON - TABS ONLY
 */
.cce-tab-footer {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 1rem;
    padding: 5px;
    text-align: center;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
}

.addTbBtn, .addcEntryBtn, .delTbBtn, .cpTbBtn, .dbTbBtn, .editTbBtn {
    width: 60px;
    height: 100%;
    float: right;
    text-align: center;
    cursor: pointer;
}

.addTbBtn i, .addcEntryBtn i {
    padding: 5px;
}

.addTbBtn, .addcEntryBtn {
    border-radius: 5px 0 0 0;
}

.delTbBtn {
    border-radius: 0 5px 0 0;
}

.noDelBtn {
    border-radius: 5px 5px 0 0;
}

.addTbBtn:hover, .addcEntryBtn:hover, .delTbBtn:hover, .cpTbBtn:hover,
.dbTbBtn:hover, .editTbBtn:hover {
    animation: stretch-up ease-in-out 0.1s;
    animation-iteration-count: 1;
    transform-origin: 50% 100%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: stretch-up ease-in-out 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    border-radius: 5px 5px 0 0;
}

.title {
    font-weight: 600;
    padding: 0 5px 15px;
    font-size: 15px;
    font-style: oblique;
    margin-top: 25px;
}

.subtitle {
    padding-bottom: 4px;
    margin-top: 1rem;
    font-size: large;
}

.patch-table, .patch-table table {
    width: 100%;
    table-layout: fixed;
}

.table-scrollbody {
    min-width: 100%;
    height: 200px;
    overflow: auto;
}

.patch-table table tr th {
    padding: 5px;
}

.table-scrollbody table tbody tr td {
    padding: 6px;
}

.table-scrollbody table tbody tr td:empty:after {
    content: 'new';
}

.table-scrollbody table tbody tr td[data-field="Find"]:empty:after,
.table-scrollbody table tbody tr td[data-field="Replace"]:empty:after {
    content: 'Hex/Base64';
}

.inline-input {
    width: 100%;
    padding: 6px;
}

td input[type="checkbox"] {
    display: block;
}

.inline-text {
    cursor: text;
    word-wrap: break-word;
}

.cce-sel {
    width: 100%;
}

.select-inTable {
    appearance: none;
    -webkit-appearance: none;
    border: none!important;
    padding: 2px!important;
    background-size: 8px 10px!important;
    background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
}

/*
 * TOP BAR
 */
#config-list {
    height: 35px;
    width: 100%;
    box-shadow: 0 0 15px -2px rgb(13, 13, 13);
    position: fixed;
    white-space: nowrap;
    z-index: 601;
}

#config-list .ps__thumb-x {
    height: 2px;
}

.file-handle {
    position: relative;
    height: 100%;
    width: 140px;
    padding: 2px;
    cursor: pointer;
    display: inline-block;
}

.file-handle > .fa {
    font-size: 80%;
    position: absolute;
}

.file-handle > .icon-file-clover-efi,
.file-handle > .icon-file-ozmosis {
    font-size: 140%;
    top: 7px;
    left: 4px;
}

.file-handle > .icon-file-chameleon,
.file-handle > .icon-file-opencore {
    font-size: 174%;
    top: 5px;
}

.file-handle:hover .handle-close {
    visibility: visible;
}

.handle-name {
    width: 64%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    float: right;
    right: 20px;
    text-overflow: ellipsis;
    font-size: 80%;
    top: 8px;
    text-align: center;
}

.handle-close {
    visibility: hidden;
    top: 11px;
    right: 5px;
}

#newfile {
    width: 35px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    height: 100%;
    display: inline-block;
}

#newfile > i {
    padding-top: 10px;
}

.session-switch-form {
    display: none;
}

/*
 * EDITOR
 */
.wip-page {
    text-align: center;
}

.wip-page i {
    font-size: 15rem;
}

.wip-page p {
    font-weight: bold;
}

.info-logo {
    font-size: 200px;
    text-align: center;
}

.projhome {
    font-size: large;
}

#saveForm, #open-cfg {
    display: none;
}

.saveas-text, .bank-cid-text, .bankfilt-cid-text, .bankopts-cid-text, .bankopts-ren-text {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 15px;
}

.save-btn, .copyto-btn {
    width: 100%;
    border-radius: 0;
}

.bankopts-ren-text-err {
    padding: 1px;
    border-radius: 0 0 3px 3px;
    font-weight: 600;
}

.bank-config-lock-flag-t, .bank-config-cid-t, .bankopts-lock-flag-t, .bankopts-cid-t,
.bankopts-ren-cfg-t, .bank-cfg-sett-t {
    width: 100%;
    font-size: 15px;
}

.bank-conf-man-t {
    font-size: large;
}

.bank-cfg-title {
    white-space: nowrap;
}

.bank-config-cid span {
    font-size: 30px;
    font-style: italic;
}

.btngroup-r-unfinished {
    border-top: none;
    border-left: none;
    border-radius: unset;
}

.btngroup-r-unfinished:focus, .btngroup-r-unfinished:active {
    box-shadow: unset;
}

.btngroup-l-unfinished {
    border-top: none;
    border-right: none;
    border-radius: unset;
}

.btngroup-l-unfinished:focus, .btngroup-l-unfinished:active {
    box-shadow: unset;
}

.btngroup-inpt-l-unfinished {
    border-right: none;
    border-left: none;
    border-top: none;
}

.btngroup-inpt-l-unfinished:focus, .btngroup-inpt-l-unfinished:active {
    box-shadow: unset;
}

.selectgroup-unfinished {
    border-radius: unset;
    border-top: none;
    border-left: none;
}

.cce-sett-title {
    font-weight: bold;
    font-size: 14px;
}

.cce-bank-container {
    height: 270px;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.bank-config-box > .icon-file-chameleon, .bank-config-box > .icon-file-opencore {
    font-size: 4.3rem;
    top: -3px;
    position: relative;
}

.bank-label-fix {
    top: -10px;
    position: relative;
}

.db-patch-search {
    width: 100%;
    border-radius: .25rem .25rem 0 0;
}

.db-patch-search-label {
    width: 100%;
    border-radius: 0 0 .25rem .25rem;
    text-align: center;
    margin-bottom: 10px;
}

.empty-patch-db {
    font-size: 10em;
}

.card-link {
    cursor: pointer;
}

.card-link:hover {
    cursor: pointer;
}

/*
 * ACPI TAB
 */
.nav > li > a {
    padding: 10px 10px;
}

.tab-head {
    float: none !important;
    display: inline-block !important;
    margin-right: -3px;
}

.cce-tab-pane {
    border-radius: 0 5px 5px 5px;
    padding: 5px;
}

.nav-tabs {
    border: none !important;
}

.ssdtOr-tb-cont tr .inline-text {
    width: 100%;
}

.ssdtOpt select {
    width: 100%;
}

.ssdt-sortable {
    width: 60px;
    text-align: center;
    cursor: move;
    float: right;
    padding: 6px;
}

/*
 * GUI Tab
 */
.single-cEntry {
    width: 114px;
}

.centry-sort-handle {
    font-size: 1.6em;
    position: absolute;
    cursor: move;
    left: -9px;
    z-index: 200;
}

.centry-sort-handle i {
    padding: 8px;
}

.single-item {
    width: 113px;
}

/*
 * Kernel and Kext Patches
 */
.single-item-dbPatch {
    border-radius: 5px 0 0 0;
}

.kkp-btn {
    border-radius: 0 5px 0 0;
}

.matchbuild-texarea {
    height: 120px!important;
}

.SMslots .cce-sel {
    width: 70%;
}

/*
 * SMBIOS Tab
 */
.smbiosmodel-icon {
    font-size: 20rem;
}

/*
 * RT Variables Tab
 */
.sip-flag, .btr-flag {
    width: 100%;
}

/*
 * Text editor
 */
.key-hints {
    position: relative;
    z-index: 1;
}

/*
 * RESPONSIVE
 */
@media (max-width: 550px) {
    .cce-bank-container {
        border-radius:  0 0 .3rem .3rem;
    }

    .index-new-form {
        width: initial;
        float: initial;
        text-align: initial;
        margin-top: 20px;
    }

    .index-new-server-form {
        width: initial;
        float: initial;
        text-align: initial;
    }

    .index-new-btn, .index-new-server-btn {
        width: 100%;
        border-radius: 6px 6px 0 0;
    }

    .index-new-server-btn {
        margin-top: 0;
        box-shadow: initial;
        border-radius: 0 0 6px 6px;
    }

    .forceKx, .forcechamKx, .ssdtTb, .vbiosP {
        width: 520px;
    }

    .dbPatchItem div button:first-child {
        width: 80%;
    }

    .dbPatchItem div button:last-child {
        width: 20%;
    }

    .form-check-inline {
        display: block;
    }
}

@media (min-width: 550px) {
    .index-conf-load-btns {
        margin-top: -1px;
    }
}

@media (max-width: 767px) {
    .handle-close {
        visibility: visible;
    }

    #usefull-links {
        text-align: left;
    }

    #usefull-links-ul {
        text-align: left;
        direction: ltr;
    }

    .dsdtP {
        width: 700px;
    }

    .cce-tab-footer {
        margin-left: 0;
    }
}

@media (max-width: 1024px) {
    .cce-bank {
        margin-top: 20px;
    }

    .mNvI, .mAI, .SMram, .cLegE, .cToolE {
        width: 1000px;
    }

    .SMslots, .hideVl, .subCEn {
        width: 800px;
    }
}

@media (min-width: 1024px) {
    .bank-config-icon {
        font-size: 3.8rem;
    }
}

@media (min-width: 1800px) {
    body {
        font-size: 1rem!important;
    }

    .addTbBtn, .addcEntryBtn, .delTbBtn, .cpTbBtn, .editTbBtn {
        height: 25px;
    }

    .combobox-arrow {
        padding: 16px;
    }
}
