/*!
 * Cloud Clover Editor
 * Copyright (C) kylon - 2016-2022
 * Licensed under GPLv3 license
 */

body {
    background: rgba(231, 231, 231, 0.89);
}

#maint {
    background: url("../img/pattern_bg.png") repeat center;
}

input[type=text] {
    color: black;
}

input[type=text]:disabled {
    background: rgba(255, 255, 255, 0.64) !important;
    color: #504e4e !important;
}

input:invalid {
    border: 2px solid rgb(231, 28, 28);
}
input:invalid:focus {
    background-color: rgba(216, 69, 69, 0.48);
}

.form-check-input {
    background-color: rgba(170, 170, 170, 0.9);
}

.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
    background-color: rgb(53, 83, 116);
}

.form-check-input:disabled {
    background-color: rgba(193, 193, 193, 0.9);
}

.form-check-input:disabled:checked {/*todo check*/
    background-color: rgba(53, 83, 116, 0.47);
}

.form-select:focus {
    box-shadow: 0 0 0 .2rem rgba(4, 18, 34, 0.25);
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: initial;
}

.cce-nav-link:hover {
    color: initial;
}

.bg-lightblue {
    background: #354fd2;
}

/*
 * Loading screen
 */
#loadingscr {
    background: rgba(0, 0, 0, 0.26);
    color: white;
}

/*
 * COMMON RULES
 */
.alert-error {
    background: rgb(236, 95, 86);
    color: white;
}

.toast {
    background-color: rgba(255, 255, 255, 0.94);
}

.toast-header {
    color: #f2f2f2e6;
    background-color: rgb(90, 90, 177);
}

.toast-body {
    color: #261e1ee6;
}

.toast-error {
    background-color: rgb(210, 68, 68);
}

.single-item-icon {
    background: #475665;
    color: white;
}

.single-item-del-btn {
    color: white;
}

.single-item-cp-btn {
    color: white;
}

.single-item-del-btn:hover {
    background: rgb(218, 73, 73) !important;
}

.single-item-cp-btn:hover {
    background: rgb(249, 197, 42) !important;
}

/*
 * COMBOBOX
 */
.combobox-input {
    border: 1px solid #d5d5d5;
}

.combobox-input:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.combobox-opt-container {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #9eafbf;
}

.combobox-opt:hover {
    background: rgb(104, 124, 143);
    color: white;
}

/*
 * SIDEBAR
 */
#sidebar-wrapper {
    background: #343a40;
}

.sidebar-nav li a {
    color: #7b7d81;
}

.sidebar-nav li a.active,.sidebar-nav li a:hover {
    background: #bec7d01a;
    color: #fff !important;
}

.btn-opt, .btn-up-alert, .btn-up-alert:hover {
    color: #7b7d81;
}

.up-alert-active {
    color: #f93434;
}

.btn-opt:hover, .up-alert-active:hover {
    color: white;
}

.pin-nav-btn:hover {
    color: white;
}

.sidebar-toggle-btn {
    background: rgb(52, 58, 64);
    color: rgb(123, 125, 129);
}

/*
 * COMMON - TABS ONLY
 */
.color-disabled {
    color: rgb(158, 156, 156) !important;
}

.cce-tab-footer {
    background: rgba(114, 102, 102, 0.05);
    border-top: 1px solid rgba(185, 176, 176, 0.46);
}

.cce-tab-footer-dark {
    background: rgb(29, 31, 33);
    border-top: 1px solid rgba(83, 80, 80, 0.46);
    color: whitesmoke;
}

.addTbBtn, .addcEntryBtn, .delTbBtn, .cpTbBtn, .dbTbBtn, .editTbBtn {
    color: white;
}

.title {
    color: #195972;
}

.subtitle {
    color: #343a40;
}

.table-scrollbody {
    background: rgba(255, 255, 255, 0.81);
    border: 1px solid #d0d0d0;
}

.patch-table table tr th {
    background: #495968;
    color: white;
}

.table {
    background: rgba(255, 255, 255, 0.81)!important;
}

.table-scrollbody table tbody tr td:empty:after {
    color: rgb(158, 156, 156);
}

.table-scrollbody table tbody tr:hover, .selected {
    background-color: rgb(197, 221, 224);
}

.entry-selected, .entry-selected:hover {
    background: rgb(167, 211, 220);
}

.entry-active, .entry-active:hover {
    background: rgb(212, 220, 51);
}

.inline-input {
    border: 1px solid #d5cdcd;
}

/*
 * TOP BAR
 */
#config-list {
    background: #343a40;
}

.file-handle {
    background: transparent;
    border-right: 2px solid #7182aa47;
    color: whitesmoke;
}

.fhandle-active {
    background: #485f75 !important;
}

#newfile {
    color: #98a0b7;
    background: rgb(71, 86, 98);
}

#newfile:hover {
    color: whitesmoke;
}

/*
 * EDITOR
 */
.btn-wiptxtmode {
    background-color: #406a97;
    color: white;
}

.btn-wiptxtmode:hover, .btn-wiptxtmode:focus {
    background-color: #2b527b;
    color: white;
}

.cce-sett-title {
    color: #343a40;
}

.cce-bank-loadtx {
    color: #29323b;
}

.btn-upgrade {
    color: whitesmoke;
    background: #c44;
}

.btn-upgrade:hover {
    color: whitesmoke;
    background: #e65b5b;
}

.saveas-text, .bank-cid-text, .bankfilt-cid-text, .bankopts-cid-text, .bankopts-ren-text {
    border-bottom: 1px solid rgb(51, 114, 155);
}

.saveas-text:focus {
    border-bottom: 1px solid rgb(73, 157, 212);
}

.save-btn, .copyto-btn {
    background: rgb(245, 245, 245);
    color: rgb(93, 91, 91);
}

.save-btn:hover, .copyto-btn:hover {
    background: rgb(237, 237, 237);
    color: rgb(93, 91, 91);
}

.bankopts-ren-text-err {
    background: #c54f4f;
    color: white;
}

.material-text-inp-err {
    border-bottom: 1px solid rgb(197, 79, 79) !important;
}

.bank-config-cid span {
    color: #777676;
}

.btngroup-r-unfinished {
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.btngroup-l-unfinished {
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
}

.btngroup-r-unfinished:focus, .btngroup-r-unfinished:active,
.btngroup-l-unfinished:focus, .btngroup-l-unfinished:active {
    border-color: #80bdff!important;
}

.bankmode-open-modal:hover, .bankmode-open-modal:active,
.bankmode-open-modal:focus, .bankmode-open-modal:visited {
    border-color: rgb(206, 212, 218) !important;
    background-color: transparent !important;
    color: rgb(108, 117, 125) !important;
    cursor: initial !important;
}

.cce-bank-container {
    border: 1px solid rgb(230, 230, 230);
}

.cce-bank-container .bank-config-box .bank-config-icon {
    color: #6c7098;
}

.db-patch-search-label {
    color: white;
}

.card-link {
    color: #bcdcff;
}

.card-link:hover {
    color: #76b8ff;
}

.pagination .page-item {
    border: 1px solid #bababa;
}

/*
 * ACPI TAB
 */
.tab-inactive, .tab-inactive:hover, .tab-inactive:focus {
    background: #f9f9f9 !important;
    color: #908A8A;
    border-color: transparent !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: white !important;
}

.cce-tab-pane {
    background: rgba(255, 255, 255, 0.87);
    border: 1px solid rgb(234, 224, 224);
}

.cce-nav-link {
    color: initial;
    background-color: #fff !important;
    border-color: #e9ecef #e9ecef transparent #dee2e6 !important;
}

.cce-nav-link:hover, .cce-nav-link:focus {
    border-color: #e9ecef #e9ecef transparent #dee2e6 !important;
}

.ssdt-sortable {
    background: rgba(243, 202, 36, 0.97);
}

/*
 * GUI Tab
 */
.centry-sort-handle {
    background: rgb(60, 173, 85);
    color: whitesmoke;
}

/*
 * Kernel and Kext Patches
 */
.single-kext:hover {
    background: rgb(102, 163, 192);
    color:white;
}

/*
 * Text editor
 */
.CodeMirror-dialog {
    background: white;
    color: black;
}

.key-hints {
    color: rgba(255, 255, 255, 0.57);
}
